
/*#COLOR VERDE OSCURO: #94C7B6*/
/*#COLOR ROJO: #D3643B*/
/*#COLOR BLANCO: EDEBE6;*/
/* COLOR NEGRO: #403B33 */
/* COLOR VERDE SUAVE: #D6E1C7*/

/* GRIS OSCURO: E8E8E8 */

body {
    padding-top: 50px; /* Move down content because we have a fixed navbar that is 50px tall */

    background-color:#FFFFFF;
}

a{

    font-size:13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #403B33;
}

a:hover{
    color:#666666;
}


h2,h3{
    -webkit-font-smoothing: antialiased;
    color: #403B33;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -.01em;
    line-height: 1.3;
    font-family:'Helvetica Neue';
}

h2{
    margin-top:15px;
    margin-bottom:15px;
}

/*
 * HEADER
 * Hide default bootstrap border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.navbar-main{
    background-color:#403B33;
}

.navbar-nav{
    padding-left:15px !important;
}


/* **
 * PERSPECTIVES DROP-DOWN (HEADER)
 ** */

.perspectives-button{
    color:#CCCCCC;
    line-height:50px !important;
    font-size:18px;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    font-family:'Helvetica Neue';
    text-decoration:none;
    margin:0px;
    padding:0px;
    cursor:pointer;
}

.perspectives-button:hover{
    color:#EEEEEE !important;
    text-decoration: none !important;
    cursor:pointer;
}

.pers-dropdown-menu{
    margin:0px;

    padding:0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:51px !important;
    margin-left:0px;
    padding:15px;
    z-index:1;
    background-color:#F5F5F5;
}


.perspective-item {
    width:200px;
    background-color:#FFFFFF;
    border-radius:3px;
    margin-bottom:3px;
    box-shadow: 1px 1px 1px #AAAAAA;
    min-height:50px;
    margin-bottom:10px;

    font-weight:300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.perspective-item:hover{
    background-color:#EEEEEE;
    cursor:pointer;
}

.perspective-item .title{
    -webkit-font-smoothing: antialiased;
    color: #403B33;
    font-size: 13px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:7px;
    padding-left:10px;

}




/* **
 * USERNAME INFO & LOGOUT BUTTON (HEADER)
 ** */

.logout-button{
    color:#EDEBE6;
    line-height:50px !important;
    font-size:18px;
    -webkit-font-smoothing: antialiased;
    font-family:'Helvetica Neue';
    text-decoration:none;
    margin:0px;
    margin-right:20px;
    padding:0px;
    font-weight:500;

}

.logout-button a{
    font-weight:300;
    color:#EDEBE6;
    font-size:18px;
}


/* **
 * MAINCARD, GROUPCARDS & CARDS
 ** */


.maincard{
    cursor:pointer;
}

.groupcard{
    width:420px;
    height:500px;
    background-color:#DDDDDD;
    border-radius:3px;
    padding:5px;
    padding-top:0px;
    box-shadow: 1px 1px 1px #AAAAAA;
    float:left;
}

.groupcard-2{
    width: 210px;
    float:left;
}


.groupcard .titlegroup{
    -webkit-font-smoothing: antialiased;
    color: #403B33;
    font-size: 20px;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:10px;
    padding-left:3px;
    cursor:pointer;
}



.card {
    width:200px;
    background-color:#FFFFFF;
    border-radius:3px;
    margin-bottom:3px;
    box-shadow: 1px 1px 1px #AAAAAA;
    min-height:50px;
}

.card:hover{
    background-color:#f5f5f5;
}

.card .card-title{
    -webkit-font-smoothing: antialiased;
    color: #403B33;
    font-size: 13px;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:7px;
    padding-left:10px;
    padding-bottom:0px;
    cursor:pointer;
}






/* ************ */
/* MODAL WINDOW */
/* ************ */

.card-detail-modal{
    background-color:#EDEBE6;
    color:#403B33;
}

#modal-title{

    font-size:24px;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    font-family:'Helvetica Neue';
    cursor:pointer;
    margin:0px;
    padding:0px;
    display:block;
    width:100%;
    border:0px !important;
    height:100%;
    overflow: hidden;
    resize: none;
}


#modal-title:hover{
    background-color: #f5f5f5;
}


.title-editing{
    padding:5px !important;
    background-color:#ffffff;
    border:1px solid #888;
    border-radius:3px;
    outline:none;
    box-shadow:none;
}

.title-editing:hover{
    background-color:#ffffff !important;
}

#modal-description{
    font-size:14px;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
    font-family:"Helvetica Neue";
    cursor:pointer;
    margin:0px;
    padding:0px;
    display:block;
    width:100%;
    border:0px !important;
    height:100%;
    overflow: hidden;
    resize: none;

}

#modal-description:hover{
    background-color: #f5f5f5 !important;
}

.note-editor{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}


.note-toolbar{
    background-color:#ffffff !important;
    border:1px #999999 !important;
    border-bottom:0px !important;
}

.description-savecancel-buttons{
    margin-top:10px;
}

.description-save{
    border-radius:1px;
}

.description-cancel{
    color:#999999;
}

.title-savecancel-buttons{
    margin-top:10px;
}

.title-save{
    border-radius:1px;
}

.title-cancel{
    color:#999999;
}

.btn-sm{
    border-radius:1px !important;
}


.modal-card-info{
    margin-bottom:10px;
    font-size:14px;
    font-weight:400 !important;
    -webkit-font-smoothing: antialiased !important;
    font-family:'Helvetica Neue' !important;
    display:block;
}

.modal-card-tags{
    margin-bottom:10px;

}

.label{
    border-radius: 1px;
    font-size:18px;
    font-weight:300 !important;
    -webkit-font-smoothing: antialiased !important;
    font-family:'Helvetica Neue' !important;
}

.btn{
    border-radius: 1px !important;
}

.card-detail-modal .modal-body .options{

}

/*#COLOR VERDE OSCURO: #E8E8E8*/
/*#COLOR ROJO: #D3643B*/
/*#COLOR BLANCO: EDEBE6;*/
/* COLOR NEGRO: #403B33 */
/* COLOR VERDE SUAVE: #D6E1C7*/


.card-button-bar{
    display:block;
    text-align:right;
    padding-right:4px;
    height:16px;
    padding-bottom:4px;
}

.card .card-button-bar .button-list{
    color:#CCCCCC;
    font-size: 13px;
    top:0px;
    line-height:13px;
    display:none;
}

.card .card-button-bar .button-list span{
    cursor:pointer;
}

.card .card-button-bar .button-list span:hover{
    cursor:pointer;
    color:#999999;
}










.groupcard{
    float:left;
    margin-right:10px;
}


.card {
    float:left;
    margin-right:5px;
}