/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}



@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 1024px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.logout-button{
    color:#EDEBE6;
    line-height:50px !important;
    font-size:18px;
    -webkit-font-smoothing: antialiased;
    font-family:'Helvetica Neue';
    text-decoration:none;
    margin:0px;
    margin-right:20px;
    padding:0px;
    font-weight:500;

}

.logout-button a{
    font-weight:300;
    color:#EDEBE6;
    font-size:18px;
}

.perspectives-button{
    color:#EDEBE6;
    line-height:50px !important;
    font-size:18px;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    font-family:'Helvetica Neue';
    text-decoration:none;
    margin:0px;
    padding:0px;
}

.perspectives-button:hover{
    color:#EDEBE6 !important;
    text-decoration:none !important;
    opacity:0.3;
}

.perspectives-button:active{
    color:#EDEBE6 !important;
    text-decoration:none !important;
    opacity:0.3;
}

.new-perspective{
    margin:10px;
}



.username-button{
    color:#EDEBE6;
    line-height:50px !important;
    font-size:20px;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    font-family:'Helvetica Neue';
    text-decoration:none;
}

.username-button:hover{
    color:#EDEBE6 !important;
    text-decoration:none !important;
    opacity:0.3;
}


h2,h3{
    -webkit-font-smoothing: antialiased;
    color: #403B33;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -.01em;
    line-height: 1.3;
    font-family:'Helvetica Neue';
}

h2{
    margin-top:0px;
}

.maincard{
    cursor:pointer;
}

/* CARD */

.card {
    width:200px;
    background-color:#D6E1C7;
    border-radius:3px;
    margin-bottom:3px;
    box-shadow: 1px 1px 1px #AAAAAA;
}

.card:hover{
    background-color:#dddddd;
}

.editicon{

}

.card .title{
    -webkit-font-smoothing: antialiased;
    color: #403B33;
    font-size: 14px;
    font-weight: 400;
    font-family: "Helvetica Neue";
    padding:7px;
    padding-left:10px;
    cursor:pointer;

}

.groupcard{
    width:210px;
    background-color:#94C7B6;
    border-radius:3px;
    padding:5px;
    padding-top:0px;
    box-shadow: 1px 1px 1px #AAAAAA;
}

.groupcard .titlegroup{
    -webkit-font-smoothing: antialiased;
    color: #403B33;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Helvetica Neue';
    padding:10px;
    padding-left:3px;
    cursor:pointer;
}

.navbar-main{
    background-color:#403B33;
}

body{
    background-color:#EDEBE6;
}

.pers-dropdown-menu{
    border:0px;
    margin:0px;
    width:250px;
    padding:0px;

    font-family:'Helvetica Neue';

    margin-top:50px !important;
    margin-left:30px;
    z-index:1;
    background-color:#EDEBE6;
}

.pers-dropdown-menu a{
    background-color:#EDEBE6;
}

.pers-dropdown-menu .list-group-item{
    border:0px;
    border-bottom: 1px;
    margin:0px;
}


/* ************ */
/* MODAL WINDOW */
/* ************ */

.card-detail-modal{
    background-color:#EDEBE6;
    color:#403B33;
}

#modal-title{

    font-size:24px;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    font-family:'Helvetica Neue';
    cursor:pointer;
    margin:0px;
    padding:0px;
    display:block;
    width:100%;
    border:0px !important;
    height:100%;
    overflow: hidden;
    resize: none;
}

#modal-title:hover{
    background-color: #f5f5f5 !important;
}


#modal-description{
    font-size:14px;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
    font-family:"Helvetica Neue";
    cursor:pointer;
    margin:0px;
    padding:0px;
    display:block;
    width:100%;
    border:0px !important;
    height:100%;
    overflow: hidden;
    resize: none;

}

#modal-description:hover{
    background-color: #f5f5f5 !important;
}

.note-editor{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}


.note-toolbar{
    background-color:#ffffff !important;
    border:1px #999999 !important;
    border-bottom:0px !important;
}

.title-editor{
    min-height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

.description-savecancel-buttons{
    margin-top:10px;
}

.description-save{
    border-radius:1px;
}

.description-cancel{
    color:#999999;
}

.title-savecancel-buttons{
    margin-top:10px;
}

.title-save{
    border-radius:1px;
}

.title-cancel{
    color:#999999;
}

.btn-sm{
    border-radius:1px !important;
}


.modal-card-info{
    margin-bottom:10px;
    font-size:14px;
    font-weight:400 !important;
    -webkit-font-smoothing: antialiased !important;
    font-family:'Helvetica Neue' !important;
    display:block;
}

.modal-card-tags{
    margin-bottom:10px;

}

.label{
    border-radius: 1px;
    font-size:18px;
    font-weight:300 !important;
    -webkit-font-smoothing: antialiased !important;
    font-family:'Helvetica Neue' !important;
}

.btn{
    border-radius: 1px !important;
}

.card-detail-modal .modal-body .options{

}

/*#COLOR VERDE OSCURO: #94C7B6*/
/*#COLOR ROJO: #D3643B*/
/*#COLOR BLANCO: EDEBE6;*/
/* COLOR NEGRO: #403B33 */
/* COLOR VERDE SUAVE: #D6E1C7*/

/* LOS ESTILOS A CONTINUACIÓN SON SOLO PARA QUE SE VEA EL EJEMPLO */

.card {
    float:left;
    margin-right:10px;

}

.groupcard{
    float:left;
    margin-right:10px;
}
