<!-- Modal -->
<div class="modal fade" id="rze_popup_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit card info</h4>
      </div>
      <div class="modal-body">
          <form id="rze_popup_add_form" action="" validate>
              <input type="hidden" name="id"/>
              <input type="hidden" name="parent"/>
              <label>Title:</label>
              <input type="text" name="title" placeholder="Write title" required/>
              <label>Description:</label>
              <textarea name="description" placeholder="Write description" required></textarea>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success submit" id="submit_add_form">Save changes</button>
          </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>